/* ==== VARIABLE ==== */

$overlay-color: rgba(0, 0, 0, 0.7);

$dark-text: #777;

$light-text: #F4F1FA;

$orange-bg: #F1961B;

$off-white: #FCFFF6;

$orange-hover: #F18C18;

$dark: #222121;

$footer: #888;




